.section-three {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.section-three_inside {
  display: flex;
  width: 100%;
  margin: 30px 120px;
  justify-content: space-between;
}
.section-three_inside-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
}
.section-three_inside-block button {
  width: 300px;
}
.section-three_inside-block h3 {
  display: flex;
  align-self: flex-start;
  font-weight: 500;
  font-size: 3rem;
  line-height: 6rem;
}
.angry-grid {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 100vh;
}

#item-0 {
  background-image: url(../../../assets/frameOne.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1 / 3;
  grid-column: 1;
}
#item-1 {
  background-image: url(../../../assets/frameTwo.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#item-2 {
  background-image: url(../../../assets/frameThree.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
#item-3 {
  background-image: url(../../../assets/frameFour.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
#item-4 {
  background-image: url(../../../assets/frameFive.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
#item-5 {
  background-image: url(../../../assets/frameSix.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
#item-6 {
  background-image: url(../../../assets/frameSeven.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
#item-7 {
  background-image: url(../../../assets/frameEight.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}


@media screen and (max-width: 1440px) {
  .angry-grid {
    width: 100%;
  }
}