.section-four {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f1ef;
  overflow-x: hidden;
  margin: 0;
  padding: 100px 0px 150px 0px;
}
.section-four_inside {
  display: flex;
  width: 100%;
  margin: 30px 180px;
  justify-content: space-between;
}
.section-four_inside-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.section-four_inside-block h3{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-right: 20%;
  margin-bottom: 60px;
}
.section-four_inside-block-map {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  
}
.section-box{
  box-sizing: border-box;;
  width: auto;
  display: flex;
  
  margin: 20px;
  align-items: center;
  height:auto;
}



@media screen and (max-width:1366px) {
  .section-four_inside-block h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (max-width:1280px) {
  .section-four_inside-block h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media screen and (max-width:360px) {
  .section-four {
    padding: 60px 0px 60px 0px;
}
  .section-four_inside {
    margin: 30px 16px;
}
.section-four_inside-block h3 {
  font-size: 1.3rem;
  line-height: 3rem;
  margin: 0px 0px 40px 0px;
}
.section-four_inside-block {
  align-items: flex-start;
}
}

@media screen and (max-width: 414px) {
  .section-four {
    padding: 60px 0px 60px 0px;
}
  .section-four_inside {
    margin: 30px 16px;
}
.section-four_inside-block h3 {
  font-size: 1.3rem;
  line-height: 3rem;
  margin: 0px 0px 40px 0px;
}
.section-four_inside-block {
  align-items: flex-start;
}
}

@media screen and (max-width: 428px) {
  .section-four {
    padding: 60px 0px 60px 0px;
}
  .section-four_inside {
    margin: 30px 16px;
}
.section-four_inside-block h3 {
  font-size: 1.3rem;
  line-height: 3rem;
  margin: 0px 0px 40px 0px;
}
.section-four_inside-block {
  align-items: flex-start;
}
}